customTEI.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2024-12-13T09:42:44Z. . 
TEI Edition: P5 Version 4.8.1. Last updated on 1st November 2024, revision 0a2bff95a 
TEI Edition Location: https://www.tei-c.org/Vault/P5/4.8.1/ 
  
--><!---->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <start>
       <element name="TEI">
         <ref name="teiElements"/>
      </element>
   </start>

   <define name="teiElements">
      <choice>
         <element name="teiHeader">
            <ref name="teiHeaderContent"/>
         </element>
         <element name="text">
            <ref name="textContent"/>
         </element>

         <!-- Ajout de deityRole -->
         <element name="deityRole">
            <ref name="deityRoleContent"/>
         </element>
      </choice>
   </define>

   <!-- Contenu de deityRole -->
   <define name="deityRole">
      <choice>
         <text/>
         <element name="deity">
            <text/>
         </element>
         <attribute name="deity">
                  <value>MIN</value>
                  <value>JUP</value>
                  <value>JUN</value>
                  <value>APL</value>
                  <value>DIA</value>
                  <value>VEN</value>
                  <value>MAR</value>
                  <value>MER</value>
                  <value>NEP</value>
                  <value>PLU</value>
                  <value>BAC</value>
                  <value>CER</value>
                  <value>PRO</value>
         </attribute>
        <attribute name="context">
            <value>narrative</value>
            <value>metamorphosis</value>
         </attribute>
         <attribute name="role">
            <value>act</value>
            <value>obj</value>
            <value>auto</value>
         </attribute>
      </choice>
   </define>
</grammar>
